
<div class="row-fluid" >
<div class="span3"> <h4 class="text-error lighter smaller">Recibo de pago numero : {{pedido.serial}}</h4></div>

<div class="span3"><h4 class="text-error lighter smaller">Nombre del producto : {{pedido.producto.nombre}}</h4></div>
<div class="span2"><h4 class="text-error lighter smaller">Cantidad: {{pedido.cantidad}}</h4></div>

<div class="span2"><h4 class="text-error lighter smaller">Precio unitario : {{pedido.producto.precio}}</h4></div>
</div>
<div class="row-fluid" >
<div class="span3"><h4 class="text-error lighter smaller">Total a pagar : {{total_pago }}</h4></div>
<div class="span3"><h4 class="text-error lighter smaller">Metodo de envio : {{pedido.metodo_envio}}</h4></div>
<div class="span4"><h4 class="text-error lighter smaller">Fecha de solicitud : {{pedido.fecha}}</h4></div>

</div>

														